:root{
  --ligth-shadow :5px 5px rgba(0,0,0,0.1);
}
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: khaki;
}
.container{
  width: 350px ;
  background-color: aliceblue; 
  border-radius: 5px;
  padding: 0px 25px 15px 25px;
}
.container h3{
  font-family: Itim, cursive;
  font-weight: 200;
  font-size: 30px;
  padding-left: 10%;
}
.person img{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: var(--ligth-shadow);
}

.person{
  display: flex;
  margin: 10px;

}
.person h4{
  margin-top: 0.35em;
  margin-bottom: 0.35em;
}
.person div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}
.person p{
  margin: 0px;
}

button{
  color : #ffff;
  display: block;
  width: 100%;
  height: 40px;
  font-family: Itim;
  font-weight: 500;
  font-size: 20px;
  background-color: orange;
  color: black;
  border-radius: 4px;
  border-color: transparent;
}
